<!DOCTYPE html>
<html>
<head>
    <title>console-users-Daily Report</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/jquery-ui-1.10.2.custom.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.2.custom.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
</head>
<body class="admin-users">
<header class="navbar">
    <a class="brand" href="/" title="home page">Daily Report</a>
    <ul class="nav">
        <li><a href="/admin">department</a></li>
        <li class="active"><a href="#">user</a></li>
    </ul>
</header>
<section id="users" class="container">
    <label for="userName">User Name:</label>
    <input type="text" required="required" name="userName" id="userName" />
    <br />
    <label for="password">Password:</label>
    <input type="password" required="required" name="password" id="password" />
    <label for="userDepartment">department:</label>
    <select id="userDepartment" name="userDepartment">
        <option value=""></option>
        {{#each departments}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <label for="superior">Superior:</label>
    <select id="superior" name="superior">
        <option value=""></option>
        {{#each users}}
        <option value="{{_id}}">{{username}}</option>
        {{/each}}
    </select>
    <div><input id="submitBtn" type="button" value="submit" class="btn btn-primary" /></div>
</section>
<script type="text/javascript" src='/js/admin/departmentVM.js'></script>
<script type="text/javascript" src='/js/admin/users.js'></script>
</body>
</html>