<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/jquery-ui-1.10.2.custom.min.css' />
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js" />
    <script type="text/javascript" src="/js/jquery-ui-1.10.2.custom.min.js" />
    <script type="text/javascript" src="/js/bootstrap.min.js" />
    <script type="text/javascript">
        $(function() {
            $("#dateTxt").datepicker();
        });
    </script>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
  </body>
</html>