<!DOCTYPE html>
<html>
<head>
    <title>写日报</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <link rel='stylesheet' href='/css/jquery-ui-1.10.2.custom.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.2.custom.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>

</head>
<body class="myreports">
<header class="navbar">
    <a class="brand" href="/" title="home page">Daily Report</a>
    <ul class="nav">
        <li ><a href="/write">写日报</a></li>
        <li class="active"><a href="/show">查看日报</a></li>
    </ul>
</header>
<section class="container">
    <div class="title"> <i class="icon-book"></i><h1>我的日报</h1></div>
    <article id="reportList">
        <ul class="unstyled">

            <li class="report">
                <p class="date"></p><p></p>
                <p class="btn btn-link reply"></p>
                <p class="btn btn-link delete"></p>

        </ul>
        <div class="pagination">
            <ul>

                <li class=""><a href="#"></a></li>

            </ul>
        </div>
    </article>
</section>

<script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
<script type="text/javascript" src='/js/validator.js'></script>
<script type="text/javascript" src='/js/ReportModel.js'></script>
<script type="text/javascript" src='/js/showreport.js'></script>
</body>
</html>