<!DOCTYPE html>
<html>
<head>
    <title>写日报</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <link rel='stylesheet' href='/css/jquery-ui-1.10.2.custom.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.2.custom.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>

</head>
<body class="myreports">
<header class="navbar">
    <a class="brand" href="/" title="home page">Daily Report</a>
    <ul class="nav">
        <li ><a href="/write">写日报</a></li>
        <li ><a href="/show">我的日报</a></li>
        <li class="active"><a href="#">下属日报</a></li>
    </ul>
</header>
<section class="container">
    <div class="title"> <i class="icon-book"></i><h1>日报内容</h1></div>
    <article id="reportList" >
        <ul class="unstyled" data-bind="foreach: reports">
            <li class="report">
                <p class="date" data-bind="text: date"></p><div data-bind="html: content"></div>
                <p class="btn btn-link reply" data-bind="attr: {reportId: id}">reply</p>
                <p class="btn btn-link delete" data-bind="attr: {reportId: id}">delete</p>
        </ul>
        <div class="pagination">
            <ul data-bind="foreach: pageNum">
                <li data-bind="css: {active: ($index()+1) == $parent.currentPage()}"><span data-bind="text: $index()+1, visible: ($index()+1)==$parent.currentPage()"></span><a href="#" data-bind="text: $index()+1, attr: { href: '/show/'+($index()+1)}, visible: ($index()+1)!=$parent.currentPage()"></a></li>
            </ul>
        </div>
    </article>
</section>

<script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
<script type="text/javascript" src='/js/validator.js'></script>
<script type="text/javascript" src='/js/ReportModel.js'></script>
<script type="text/javascript" src='/js/showreports.js'></script>
</body>
</html>