.treeList li div {
  padding: 6px 0 10px 5px;
}
.treeList li div.treeListItemOver {
  background-color: #78b608;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.treeList li div.treeListItemSelected {
  background-color: #FAA732;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.treeList li div i {
  padding: 1px;
}
.treeList li div i.icon-minus,
.treeList li div i.icon-plus {
  width: 12px;
  height: 12px;
  border: 1px solid #444444;
  margin-right: 5px;
  cursor: pointer;
}
.treeList li div span.delete,
.treeList li div span.update,
.treeList li div span.review {
  margin-right: 8px;
  font-size: 12px;
  height: 16px;
  padding: 2px 8px 4px 8px;
  float: right;
}
header {
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(center top, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #D4D4D4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  min-height: 40px;
  width: 100%;
}
header.navbar a.brand {
  padding-left: 40px;
}
* {
  color: #555;
}
div.title h1 {
  display: inline;
  font-size: 18px;
  padding-left: 5px;
  margin: 0;
}
#reportCreation {
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 0 20px 18px 20px;
}
#reportCreation textarea {
  width: 100%;
}
#reportCreation #dateTxt {
  margin-bottom: 20px;
}
#reportCreation #reportSubmitBtn {
  margin-top: 20px;
}
#userList {
  float: left;
  margin-left: 15px;
}
#userList #userTree {
  margin: 0 20px 0 0;
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  width: 300px;
  height: 430px;
  overflow: auto;
}
#reports {
  float: left;
}
#reportList li.report {
  background-color: #eeeeee;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
#reportList li.report .date {
  font-size: 18px;
  font-weight: bold;
  color: #1a700b;
}
#reportList li.report .reply,
#reportList li.report .delete {
  float: right;
  padding: 0 20px 0 0;
}
#reportList div.pagination {
  float: left;
}
#loginDiv {
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  width: 230px;
  minheight: 230px;
}
#loginDiv #errorTip {
  color: red;
  margin: 0 0 20px 0;
}
