header {
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(center top, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #D4D4D4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  min-height: 40px;
  width: 100%;
}
#reportCreation {
  margin-top: 20px;
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 18px;
}
#reportCreation textarea {
  width: 98%;
}
#reportCreation #submitBtn {
  margin-right: 10%;
  clear: both;
}
#reportList {
  margin-top: 30px;
}
#reportList li.report {
  background-color: #eeeeee;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  float: left;
}
#reportList li.report .date {
  font-size: 18px;
  font-weight: bold;
}
#reportList li.report .reply,
#reportList li.report .delete {
  float: right;
  padding: 0 20px 0 0;
}
#reportList div.pagination {
  float: left;
}
#department {
  width: 720px;
}
#department #newDepartment,
#department #departmentTree {
  float: left;
  margin: 20px 20px 0 0;
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  width: 300px;
  height: 350px;
  overflow: auto;
  color: #555;
}
#department #newDepartment .submitBtn {
  margin-top: 20px;
}
#department #newDepartment.update {
  background-color: #FAA732;
  border: 1px solid #c58433;
}
#department #newDepartment div.title {
  margin: 0 0 10px 0;
  padding: 0;
}
#department #newDepartment div.title h2 {
  display: inline;
  font-size: 16px;
  padding-left: 5px;
}
#department #departmentTree li div {
  padding: 6px 0 10px 5px;
}
#department #departmentTree li div.on {
  background-color: #78b608;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
#department #departmentTree li div.selected {
  background-color: #FAA732;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
#department #departmentTree li div i {
  padding: 1px;
}
#department #departmentTree li div i.icon-minus,
#department #departmentTree li div i.icon-plus {
  width: 12px;
  height: 12px;
  border: 1px solid #444444;
  margin-right: 5px;
  cursor: pointer;
}
#department #departmentTree li div span.delete,
#department #departmentTree li div span.update {
  margin-right: 8px;
  font-size: 12px;
  height: 16px;
  padding: 2px 8px 4px 8px;
  float: right;
}
.errorTip {
  color: red;
  padding-left: 5px;
}
body.login #loginDiv {
  margin-top: 20px;
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 18px;
  width: 220px;
}
body.login #loginDiv .submitBtn {
  margin-top: 20px;
}
body.admin-users #users {
  margin-top: 20px;
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 18px;
  width: 220px;
}
body.admin-users #users .submitBtn {
  margin-top: 20px;
}
