
<div data-role="page">
    <div data-role="header">
        <h1>设置</h1>
    </div>
    <div data-role="content">

        <a href="/m/logout" data-role="button" data-theme="b">退出登录</a>
    </div>
</div>